*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1.main-title {
    margin: auto;
    font-weight: 200;
    font-size: calc(3em + 5vw);
    color: rgba(26, 36, 87, 1);
    font-family: 'Francois One', sans-serif;
    text-shadow: 0px 1px 2px black, 0px 3px 10px rgba(100,136,35,0.5);
}

.search-footer {
    display: flex;
    align-items: center;
}

.search-footer button,
.search-footer p,
.search-footer input {
    margin: 5px;
    width: calc(4em + 2vw); 
}

#text-footer-left {
    text-align: right;
    width: calc(8em + 4vw);
}

.search-footer input {
    padding: 5px;
    width: calc(2em + 1.5vw);
}


img.spinner {
    width: calc(3em + 3vw);
}

img.logo {
    width: 40vw;
    max-width: 1000px;
    min-width: 350px;
    padding: 1.5rem;
}

.container.custom{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw,1fr));
    gap: calc(2em + 2.5vw) calc(3em + 1vw);
    align-items: center;
    justify-content: center;
}

a{
    flex-grow: 1;
    flex-shrink: 1;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    
}

a figure .card{
    flex: 27%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    background: #f7f7f7;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

a figure {
    position:relative;
}

a figure .abstract{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
a figure:hover > .abstract {
    opacity: 1;
    visibility: visible;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

/* .card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card:active{
    box-shadow: inset 0px 1px 20px rgba(0,0,0,0.4);
} */

.card > div {
    margin: 0.8rem 0.1rem;
}

.card > div > h3 {
    color: rgba(26, 36, 87, 1);
    font-weight: 600;
    font-size: calc(2em + 1vw);
    margin: 1rem;
}

.card > div > h4{
    font-size: calc(0.8em + 0.5vw);
    color: rgba(26, 36, 87, 1);
    word-wrap: break-word;
}

.card > div > p{
    font-size: calc(0.4em + 0.2vw);
    padding: 0.5rem;
    color: #111;
}



