{% extends 'base.html' %}

{% block content %}

<div class="container text-center main-banner">
    <div class="row">
      <div class="col logo">
          <img src="{{ url_for('static', filename='img/JM_V2.png')}}" alt="" class="logo">
      </div>
    </div>
    <div class="row">
        <h1 class="main-title">MAGNUS</h1>
    </div>
</div>

<div class="container px-4 py-2 my-5">
        <div class="mb-3">
          <h4>Busqueda</h4>
          <input type="text" class="form-control" id="search-text" aria-describedby="searchHelp" placeholder="Escribe el perfil de interés">
          <br/>
          <div class="search-footer">
            <button type="submit" class="btn btn-primary" id="search-btn">Buscar</button>
            <p id="text-footer-left">Mostar máximo:</p>
            <input type="number" class="form-control" id="quantity" value=10>
            <p>resultados</p>
          </div>
        </div>

        <hr>
        <div class="sm-3" id="filters">
          <h4>Filtros</h4>
          <ul id="filter-list"></ul>
            <button type="button" class="btn btn-primary" id="add-filter">Agregar filtro</button>
            <button type="button" class="btn btn-primary" id="remove-filter">Quitar filtro</button>
        </div>
</div>

<div class="container my-5 text-center" id="loader-spinner" hidden>
  <figure>
    <img src="{{ url_for('static', filename='img/Rocket.gif')}}" class="spinner"></figure>
  </figure>
</div>

<div class="container px-4 py-3 my-3 text-center" >
  <h3 id="results-title"></h3>
  <div class="container custom" id="results-cards"></div>
  <br/>
  <h5 id="results-status"></h5>
</div>


{% endblock %}