{% extends 'base.html' %}

{% block content %}

<div class="text-center main-banner">
    <div class="row">
      <div class="col logo">
          <img src="{{ url_for('static', filename='img/JM_V2.png')}}" alt="" class="logo">
      </div>
    <div class="row">
        <h1 class="main-title">MAGNUS</h1>
    </div>
    
    </div>
</div>

<div class="container px-4 py-2 my-5">
        <div class="mb-3">
          <h4>Busqueda</h4>
          <input type="text" class="form-control" id="search-text" aria-describedby="searchHelp" placeholder="Escribe el perfil de interés">
          <br/>
          <!--<div id="searchHelp" class="form-text"></div>-->
          <button type="submit" class="btn btn-primary" id="search-btn">Buscar</button>
        </div>

        <hr>
        <div class="sm-3" id="filters">
          <h4>Filtros</h4>
          <ul id="filter-list"></ul>
            <button type="button" class="btn btn-primary" id="add-filter">Agregar filtro</button>
            <button type="button" class="btn btn-primary" id="remove-filter">Quitar filtro</button>
        </div>
</div>

<div class="container my-5 text-center" id="loader-spinner" hidden>
  <figure>
    <img src="{{ url_for('static', filename='img/Rocket.gif')}}" class="spinner"></figure>
  </figure>
</div>

<div class="container px-4 py-4 my-5 text-center" >
  <h3 id="results-title"></h3>
  <div class="container custom" id="results-cards">
    <!--<a href="#">
      <div class="card">
        <div><h4>Calificación</h4></div>
        <div><h4>Nombre del candidato</h4></div>
        <div><h6>Última modificación</h6></div>
      </div>
    </a>
    <a href="#">
      <div class="card">
        <div><h4>Calificación</h4></div>
        <div><h6>ALBERTO DE ANDREA RAMIRO PATAQUIVE</h6></div>
        <div><h6>Última modificación</h6></div>
      </div>
    </a>
    <a href="https://0p3r5-my.sharepoint.com/personal/test-admin_0p3r5_onmicrosoft_com/Documents/curriculums/DOC202204264063043.pdf" target="_blank"><div class="card"><div><h3>♘♘♘</h3></div><div><h4>Arturo Alberto Jaramillo.pdf</h4></div><div><p>Última modificación: 2023-07-29</p></div></div></a>
    <a href="https://0p3r5-my.sharepoint.com/personal/test-admin_0p3r5_onmicrosoft_com/Documents/curriculums/DOC202204264063043.pdf" target="_blank"><div class="card"><div><h3>♘♘♘</h3></div><div><h4>DOC202204264063043.pdf</h4></div><div><p>Última modificación: 2023-07-29</p></div></div></a>
    <a href="https://0p3r5-my.sharepoint.com/personal/test-admin_0p3r5_onmicrosoft_com/Documents/curriculums/DOC202204264063043.pdf" target="_blank"><div class="card"><div><h3>♘♘♘</h3></div><div><h4>DOC202204264063043.pdf</h4></div><div><p>Última modificación: 2023-07-29</p></div></div></a>-->
  
  </div>

  <h5 id="results-status"></h5>
</div>


{% endblock %}