{% extends 'base.html' %}

{% block content %}

<div class="container text-center main-banner">
    <div class="row">
      <div class="col logo">
          <img src="{{ url_for('static', filename='img/JM_V2.png')}}" alt="" class="logo">
      </div>
    </div>
    <div class="row">
        <h1 class="main-title">MAGNUS</h1>
    </div>
</div>

<div class="container px-4 py-2 my-5">
        <div class="mb-3">
          <h4>Busqueda</h4>
          <input type="text" class="form-control" id="search-text" aria-describedby="searchHelp" placeholder="Escribe el perfil de interés">
          <br/>
          <div class="search-footer">
            <button type="submit" class="btn btn-primary" id="search-btn">Buscar</button>
            <p id="text-footer-left">Mostar máximo:</p>
            <input type="number" class="form-control" id="quantity" value=10>
            <p>resultados</p>
          </div>
        </div>

        <hr>
        <div class="sm-3" id="filters">
          <h4>Filtros</h4>
          <ul id="filter-list"></ul>
            <button type="button" class="btn btn-primary" id="add-filter">Agregar filtro</button>
            <button type="button" class="btn btn-primary" id="remove-filter">Quitar filtro</button>
        </div>
</div>

<div class="container my-5 text-center" id="loader-spinner" hidden>
  <figure>
    <img src="{{ url_for('static', filename='img/Rocket.gif')}}" class="spinner"></figure>
  </figure>
</div>

<div class="container px-4 py-3 my-3 text-center" >
  <h3 id="results-title"></h3>
  <div class="container custom" id="results-cards">
    <a href="https://0p3r5-my.sharepoint.com/personal/test-admin_0p3r5_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BF89CABBE-5E13-4E66-B657-9AB5E9A46B32%7D&amp;file=ANDRES%20CAMILO%20VELEZ%20ARANGO.docx&amp;action=default&amp;mobileredirect=true" target="_blank">
      <figure>
        <div class="card"><div><h3>♘♘♘</h3></div><div><h4>ANDRES CAMILO VELEZ ARANGO.docx</h4></div><div><p>Última modificación: 2023-08-07</p></div></div>
        <div class="abstract">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, unde mollitia? Accusamus, odit? Illo tempora consectetur sit, sequi quos quod dolorum eos reiciendis cumque nulla iusto est adipisci? A, corporis?</p>
        </div>
      </figure>
    </a>
    <a href="https://0p3r5-my.sharepoint.com/personal/test-admin_0p3r5_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BD7EC7C83-FD5A-4A2D-A92F-94685038D484%7D&amp;file=Luis%20Felipe%20Jalil%20Montoya%20-Ajover.docx&amp;action=default&amp;mobileredirect=true" target="_blank"><figure><div class="card"><div><h3>♘♘</h3></div><div><h4>Luis Felipe Jalil Montoya -Ajover.docx</h4></div><div><p>Última modificación: 2023-08-07</p></div></div><div class="abstract"><p>Luis Felipe Jalil Montoya es un candidato con experiencia en el campo de la gestión y operación de unidades productivas. Ha trabajado en la empresa Tecnoquimicas, una compañía farmacéutica, ocupando cargos como Gerente de Unidad Productiva, Gerente de Planta, Superintendente y Jefe de Compras y Comercio Exterior.

      En cuanto a su formación académica, Luis Felipe Jalil Montoya es Ingeniero Industrial graduado de la Pontificia Universidad Javeriana. También cuenta con una Maestría en Administración de Empresas (MBA) de la Universidad ICESI.
      
      En cuanto a idiomas, Luis Felipe Jalil Montoya tiene un nivel medio de inglés, con habilidades de lecto-escritura y comprensión, y un nivel bajo de conversación.
      
      En su experiencia laboral, ha logrado diseñar planes operativos que han optimizado la competitividad de las unidades productivas a su cargo. También ha logrado incrementar la utilidad operacional, mejorar los lead time de productos, mejorar el OEE (Overall Equipment Effectiveness) y optimizar la logística.
      
      Luis Felipe Jalil Montoya ha trabajado con diferentes herramientas, como el paquete de Office y Excel avanzado.
      
      En cuanto a sus condiciones actuales de compensación, Luis Felipe Jalil Montoya tiene un salario mensual de 28 millones de pesos, que incluye beneficios integrales como medicina propagada y un plan de celular cubierto por la compañía. También recibe un bono anual equivalente a 2 salarios mensuales.
      
      En resumen, Luis Felipe Jalil Montoya es un candidato con experiencia en la gestión y operación de unidades productivas en el sector farmacéutico. Tiene formación académica en Ingeniería Industrial y una Maestría en Administración de Empresas. Habla inglés a nivel medio y tiene habilidades en el uso de herramientas como el paquete de Office y Excel avanzado.</p></div></figure></a>
    <a href="https://0p3r5-my.sharepoint.com/personal/test-admin_0p3r5_onmicrosoft_com/Documents/curriculums/Jorge%20Andres%20Ossa%20Duque.pdf" target="_blank"><div class="card"><div><h3>♘♘♘</h3></div><div><h4>Jorge Andres Ossa Duque.pdf</h4></div><div><p>Última modificación: 2023-08-07</p></div></div></a>
  </div>
  <br/>
  <h5 id="results-status"></h5>
</div>


{% endblock %}